In [96]:
import pandas as pd
import numpy as np

In [97]:
df = pd.read_csv("dane1.csv")
df.head()

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count,user_time_zone,user_urls,user_verified
0,NaN,Tue Jun 01 05:26:49 +0000 2021,NaN,https://twitter.com/MarkonMarek/status/1399598...,NaN,1,1399598285082476544,beata_skwarska,1.399598e+18,8.241523e+17,...,1468,1950,7,"Warszawa, Polska",MarKon#SilniRazem ***** ***锔锔锔锔锔,MarkonMarek,85125,NaN,NaN,False
1,NaN,Tue Jun 01 04:15:56 +0000 2021,NaN,NaN,NaN,0,1399580447902994435,NaN,NaN,NaN,...,9384,4615,17,NaN,J贸zef Nowacki,21lupus,74846,NaN,NaN,False
2,NaN,Tue Jun 01 04:47:19 +0000 2021,NaN,NaN,https://ift.tt/3yTNxU8,1,1399588347358633987,NaN,NaN,NaN,...,30608,105,140,"Warszawa, Polska",WTP Warszawa,WTP_Warszawa,35367,NaN,http://www.wtp.waw.pl,False
3,NaN,Tue Jun 01 05:47:47 +0000 2021,NaN,NaN,NaN,0,1399603562343194625,LukaszKohut,1.399475e+18,4.267734e+08,...,688,1374,13,NaN,marcin (m鲁) 叼,m3_ememem,68546,NaN,NaN,False
4,NaN,Tue Jun 01 05:03:08 +0000 2021,WspieramyRodziny DzieDziecka,https://twitter.com/j_wisniewska/status/139959...,http://m.in,54,1399592325324619780,NaN,NaN,NaN,...,23054,678,233,"wojew贸dztwo lskie, PL",Jadwiga Winiewska,j_wisniewska,10483,NaN,http://www.jadwigawisniewska.pl,True

In [98]:
day_map = {
    "Mon": "poniedzialek",
    "Tue": "wtorek",
    "Wed": "sroda",
    "Thu": "czwartek",          ### Tlumaczenie skrotow
    "Fri": "piatek",
    "Sat": "sobota",
    "Sun": "niedziela",
}

df["created_at_day_pl"] = df["created_at"].astype(str).str.slice(0,3).map(day_map)  ### wyciagniecie skrotu dnia, podmiana skrotu na polska nazwe, zapis do nowej kolumny

df[["created_at", "created_at_day_pl"]].head(10)    ### Kontrolne wyswietlenie pierwszych 10

                       created_at created_at_day_pl
0  Tue Jun 01 05:26:49 +0000 2021            wtorek
1  Tue Jun 01 04:15:56 +0000 2021            wtorek
2  Tue Jun 01 04:47:19 +0000 2021            wtorek
3  Tue Jun 01 05:47:47 +0000 2021            wtorek
4  Tue Jun 01 05:03:08 +0000 2021            wtorek
5  Tue Jun 01 04:15:04 +0000 2021            wtorek
6  Tue Jun 01 05:13:00 +0000 2021            wtorek
7  Tue Jun 01 05:09:13 +0000 2021            wtorek
8  Tue Jun 01 06:14:26 +0000 2021            wtorek
9  Tue Jun 01 03:52:47 +0000 2021            wtorek

In [99]:
month_map = {
    "Jan": "01", "Feb": "02", "Mar": "03", "Apr": "04",
    "May": "05", "Jun": "06", "Jul": "07", "Aug": "08",         ### Stworzenie mapy miesiecy
    "Sep": "09", "Oct": "10", "Nov": "11", "Dec": "12"
}

df["user_created_at"].astype(str).str.slice(4,7)                ### Wyciagniecie skrotu miesiaca

df["user_created_at_month_num"] = df["user_created_at"].astype(str).str.slice(4,7).map(month_map)       ### Zmapowanie skrotu miesiaca na numer i zapisanie do nowej kolumny

df[["user_created_at", "user_created_at_month_num"]].head(10)         ### Kontrola czy dziala

                  user_created_at user_created_at_month_num
0  Thu Oct 13 11:53:32 +0000 2016                        10
1  Sun May 07 09:55:46 +0000 2017                        05
2  Wed Aug 28 13:39:39 +0000 2013                        08
3  Mon Mar 20 19:25:17 +0000 2017                        03
4  Tue Feb 22 10:12:07 +0000 2011                        02
5  Sat Jul 04 01:05:53 +0000 2009                        07
6  Mon May 16 16:30:19 +0000 2016                        05
7  Tue May 18 23:34:29 +0000 2021                        05
8  Wed May 10 08:40:22 +0000 2017                        05
9  Mon Dec 26 19:38:44 +0000 2016                        12

In [100]:
### Sprawdzenie czy dzialaja kolumny ktore zostaly zmienione
df[[
    "created_at",
    "created_at_day_pl",
    "user_created_at",
    "user_created_at_month_num"
]].head(10)

,created_at,created_at_day_pl,user_created_at,user_created_at_month_num
0,Tue Jun 01 05:26:49 +0000 2021,wtorek,Thu Oct 13 11:53:32 +0000 2016,10
1,Tue Jun 01 04:15:56 +0000 2021,wtorek,Sun May 07 09:55:46 +0000 2017,05
2,Tue Jun 01 04:47:19 +0000 2021,wtorek,Wed Aug 28 13:39:39 +0000 2013,08
3,Tue Jun 01 05:47:47 +0000 2021,wtorek,Mon Mar 20 19:25:17 +0000 2017,03
4,Tue Jun 01 05:03:08 +0000 2021,wtorek,Tue Feb 22 10:12:07 +0000 2011,02
5,Tue Jun 01 04:15:04 +0000 2021,wtorek,Sat Jul 04 01:05:53 +0000 2009,07
6,Tue Jun 01 05:13:00 +0000 2021,wtorek,Mon May 16 16:30:19 +0000 2016,05
7,Tue Jun 01 05:09:13 +0000 2021,wtorek,Tue May 18 23:34:29 +0000 2021,05
8,Tue Jun 01 06:14:26 +0000 2021,wtorek,Wed May 10 08:40:22 +0000 2017,05
9,Tue Jun 01 03:52:47 +0000 2021,wtorek,Mon Dec 26 19:38:44 +0000 2016,12

In [101]:
import re

tweet_link_pattern = re.compile (
    r"https?://twiter\.com/[^/]+/status/\d+(?:/photo/\d+)?"     ### Wrzozec linku do tweeta
)

### Pusty zbior na linki
tweet_links = set()

### Wyciagniecie linkow z kolumy *tweet_url
if "tweet_url" in df.columns:
  for x in df["tweet_url"].dropna().astype(str):
    match = tweet_link_pattern.search(x)
    if match:
      tweet_links.add(match.group(0))

### Wyciagniecie linkow z kolumny *media
if "media" in df.columns:
  for x in df["media"].dropna().astype(str):
    match = tweet_link_pattern.search(x)
    if match:
      tweet_links.add(match.group(0))

tweet_links = sorted(tweet_links)                   ### Zmiana zbioru na liste

len(tweet_links), tweet_links[:10]                   ### Sprawdzenie

(0, [])

In [102]:
import re

url_pattern = re.compile(r"https?://\S+")     ### Regex do wycagania linkow

all_links = set()       ### Pusty zbior na linki

### Linki z kolumny *text
for t in df["text"].dropna().astype(str):
  for link in url_pattern.findall(t):
    all_links.add(link.rstrip(").,!?\"'")) #dodanie do zbioru i usuniecie podanych znakow

### Linki z kolumny *urls
if "urls" in df.columns:
  for x in df["urls"].dropna().astype(str):
    for link in url_pattern.findall(x):
      all_links.add(link.rstrip(").,!?\"'"))

all_links = sorted(all_links)           ### Zmiana zbioru na liste

len(all_links), all_links[:10]

(2476,
 ['http://400mm.pl',
  'http://Hairheaven.pl',
  'http://a.msn.com/02/pl-pl/AAKzgrW?ocid=st',
  'http://adinfo24.pl/kraj/1680140,rozpoczyna_sie_proces_bylego_funkcjonariusza_abw_i_bylego_menedzera_huawei_sprawa_szpiegostwa_na_rzecz_chin.html',
  'http://adinfo24.pl/kraj/1680182,kladka_na_warszawie_glownej_mialy_byc_rampy_beda_tylko_windy.html',
  'http://adinfo24.pl/kraj/1680203,aktor_filmowy_i_prezenter_bartlomiej_m_zatrzymany_uslyszal_zarzut_gwaltu.html',
  'http://adinfo24.pl/kraj/1680217,bartlomiej_m_aktor_i_byly_dzialacz_partyjny_podejrzany_o_zwalcenie_trzech_nastolatek.html',
  'http://adinfo24.pl/kraj/1680250,slawomir_nowak_sad_podjal_decyzje_w_sprawie_aresztu.html',
  'http://adinfo24.pl/mazowieckie/149619,kladka_na_warszawie_glownej_mialy_byc_rampy_beda_tylko_windy.html',
  'http://adinfo24.pl/mazowieckie/149629,przemyt_narkotykow_z_holandii_towar_i_gotowke_wiezli_pociagiem_na_dworcu_czekala_policja.html'])

In [103]:
image_links = []

if"media" in df.columns:
  image_links = (
      df["media"]
      .dropna()                                                    # usuwanie pustych komorek
      .astype(str)                                                  # pewnosc operwoania na stringach
      .loc[lambda s: s.str.contains("/photo/", regex = False)]       # zostaja rekordy z linkami do zdjec
      .unique()                                                       # usuniecie duplikatow
      .tolist()                                                        # zmiana wyniku na liste Pyth
  )

image_links = sorted(image_links)   # sortowanie listy

len(image_links), image_links[:10]

(560,
 ['https://twitter.com/62norbi/status/1400394795370139653/photo/1',
  'https://twitter.com/77Rafalsky/status/1400158592783814663/photo/1',
  'https://twitter.com/AAnonsiki/status/1399667328862896131/photo/1',
  'https://twitter.com/AccentTransl/status/1400025309865512963/photo/1',
  'https://twitter.com/AdamKAS7/status/1400508485658451973/photo/1',
  'https://twitter.com/Adrian1989L/status/1399796436921896962/photo/1',
  'https://twitter.com/AdrianaBakowska/status/1400363381354287105/photo/1',
  'https://twitter.com/AkademiaJagi/status/1399633577739014144/photo/1',
  'https://twitter.com/AkademiaJagi/status/1399705048343617536/photo/1',
  'https://twitter.com/AkademiaJagi/status/1400708258982240256/photo/1'])

In [104]:
import requests
import re

stopwords_url = "https://raw.githubusercontent.com/bieli/stopwords/master/polish.stopwords.txt"             ### Pobranie listy stopwords
response = set(requests.get(stopwords_url, timeout = 30).text.splitlines())

len(stopwords)    # kontrola ile mamy stopwords


### Funkcja czyszczaca tekst i usuwajaca stopwrods

def remove_stopwords_pl(text, stopwords_set):
    if not isinstance(text, str):
        return ""

    text = text.lower()

    # zostawiamy litery (rowniez polskie), cyfry i spacje
    text = re.sub(r"[^0-9a-z贸藕偶\s]+", " ", text)

    tokens = text.split()
    tokens = [tok for tok in tokens if tok not in stopwords_set]

    return " ".join(tokens)

# stworzenie nowej kolumny z tekstem bez stopwords
df["text_without_stopwords"] = df["text"].apply(
    lambda x: remove_stopwords_pl(x, stopwords)
)

# podglad efektu
df[["text", "text_without_stopwords"]].head(5)

,text,text_without_stopwords
0,@beata_skwarska Warszawa https://t.co/W7BcyS...,beata skwarska warszawa https t w7bcysyund
1,Nieznani sprawcy podpalili kapliczk nadrzewn...,nieznani sprawcy podpalili kapliczk nadrzewn...
2,锔 Utrudnienia w komunikacji: L20 https://t.co...,utrudnienia komunikacji l20 https t dxakbokzf5
3,@LukaszKohut @moanrosa @LincaAgata @jan_jozef_...,lukaszkohut moanrosa lincaagata jan jozef lubo...
4,"Dzieci to najwikszy skarb, o kt贸ry musimy dba...",dzieci najwikszy skarb musimy dba wspieramyr...