In [5]:
import pandas as pd

df = pd.read_csv("dane1.csv")
df.shape, df.columns

((5103, 35),
 Index(['coordinates', 'created_at', 'hashtags', 'media', 'urls',
        'favorite_count', 'id', 'in_reply_to_screen_name',
        'in_reply_to_status_id', 'in_reply_to_user_id', 'lang', 'place',
        'possibly_sensitive', 'quote_id', 'retweet_count', 'retweet_id',
        'retweet_screen_name', 'source', 'text', 'tweet_url', 'user_created_at',
        'user_id', 'user_default_profile_image', 'user_description',
        'user_favourites_count', 'user_followers_count', 'user_friends_count',
        'user_listed_count', 'user_location', 'user_name', 'user_screen_name',
        'user_statuses_count', 'user_time_zone', 'user_urls', 'user_verified'],
       dtype='object'))

In [6]:
### PODPUNKT 1
df_sorted = df.sort_values("favorite_count", ascending = False)                   # Sortowanie danych po liczbie polubien

top5_likes = df_sorted.head(5)                                                    # Wybranie TOP 5 tweetow

top5_likes[["favorite_count", "text", "tweet_url"]].reset_index(drop = True)      # Wyswietlenie podanych(sensownych) kolumn + uporzadkowanie

,favorite_count,text,tweet_url
0,1386,Dzi z prezydent-elekt @Tsihanouskaya m贸wilim...,https://twitter.com/trzaskowski_/status/140075...
1,744,Warszawa czeka na @Tsihanouskaya. #StandWithBe...,https://twitter.com/MichalSzczerba/status/1400...
2,623,"Jasio, kt贸ry nie panuje nad swoj jadaczk, zn...",https://twitter.com/KapenGenezyp/status/139964...
3,605,Czyli prezydenci opozycji: \nPozna -cieszy s...,https://twitter.com/PatrykJaki/status/13998396...
4,553,Pierwszy z 21 nowych pocig贸w @SKM_Warszawa ju...,https://twitter.com/trzaskowski_/status/140000...

In [7]:
### PODPUNKT 2
df_sorted = df.sort_values("retweet_count", ascending = False)                    # Sortowanie po liczbie retweetow

top5_retweets = df_sorted.head(5)                                                 # Wybranie TOP 5 retweetow

top5_retweets[["retweet_count", "text", "tweet_url"]].reset_index(drop = True)    # Wyswietlenie kolumn + uporzadkowanie

,retweet_count,text,tweet_url
0,1638,"HALO WARSZAWA\nchtnie rozjani, ufarbuj, ze...",https://twitter.com/rayofwangxian/status/13997...
1,896,硷\nA teraz pereka. Fina Was rozwali. \n10-1...,https://twitter.com/Marcin_Pozn/status/1400706...
2,865,UWAGA #Warszawa niadeckich 12/16\n\nPani Danu...,https://twitter.com/Frosty_127/status/13996325...
3,865,UWAGA #Warszawa niadeckich 12/16\n\nPani Danu...,https://twitter.com/pshemyslav1984/status/1400...
4,865,UWAGA #Warszawa niadeckich 12/16\n\nPani Danu...,https://twitter.com/MarekPrus6/status/13996422...

In [8]:
### PODPUNKT 3
not_sensitive = df[df["possibly_sensitive"] == False]                                              # Filtrowanie tylko FALSE

not_sensitive[["possibly_sensitive", "text", "tweet_url"]].head(10).reset_index(drop = True)       # Wyswietlenie kolumn z uporzadkowaniem

,possibly_sensitive,text,tweet_url
0,False,@beata_skwarska Warszawa https://t.co/W7BcyS...,https://twitter.com/MarkonMarek/status/1399598...
1,False,锔 Utrudnienia w komunikacji: L20 https://t.co...,https://twitter.com/WTP_Warszawa/status/139958...
2,False,"Dzieci to najwikszy skarb, o kt贸ry musimy dba...",https://twitter.com/j_wisniewska/status/139959...
3,False,1 czerwca 1895 urodzi si Tadeusz Komorowski ...,https://twitter.com/serhenryk/status/139959480...
4,False,"Pomimo malejcej liczby urodze w Warszawie, l...",https://twitter.com/Warszawa_STAT/status/13996...
5,False,Ludzie s okrutni.\nhttps://t.co/GgNSNbPAfA,https://twitter.com/Aettka/status/139960954084...
6,False,Pogoda dzi w #warszawa: Sunny. Temperatura mi...,https://twitter.com/pogodawawa/status/13995916...
7,False,Macie ochot powspomina magiczne momenty ...,https://twitter.com/skkpolonia/status/13995914...
8,False,Czerwiec Warszawa https://t.co/4V8oPKrEe8,https://twitter.com/MarkonMarek/status/1399598...
9,False,锔 Utrudnienia w komunikacji: R6 https://t.co/...,https://twitter.com/WTP_Warszawa/status/139960...

In [17]:
### PODPUNKT 4
df["user_created_at_dt"] = pd.to_datetime(                                        # zmiana user_created_at na date
    df["user_created_at"],
    errors = "coerce"
)

earliest_date = df["user_created_at_dt"].min()                                    # znaleznienie najwczesniej zalozonego konta
earliest_date


earliest_user_tweets = df[df["user_created_at_dt"] == earliest_date]              # wybranie tweeta danego uzytkownika

earliest_user_tweets[

                     ["user_created_at", "user_name", "text", "tweet_url"]        # wyswietlenie uporzadkowanych kolumn
].reset_index(drop = True)

/tmp/ipython-input-4164075853.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["user_created_at_dt"] = pd.to_datetime(                                        # zmiana user_created_at na date

,user_created_at,user_name,text,tweet_url
0,Sun Nov 26 19:35:19 +0000 2006,Hex 叼别吼 #ReparationsForPoland,Policjanci z wydziau do walki z przestpczoc...,https://twitter.com/hex24/status/1399823926520...

In [28]:
### PODPUNKT 5
max_followers = df["user_followers_count"].max()                                  # znalezienie maksymalniej liczby followow
max_followers

top_follow_user_tweets = df[df["user_followers_count"] == max_followers]          # wybranie tweetow danego uzytkownika

top_follow_user_tweets[
    ["user_followers_count", "user_name", "text", "tweet_url"]                    # wyswietlenie tweetow
].reset_index(drop = True)

,user_followers_count,user_name,text,tweet_url
0,1911494,tvn24,W poniedziaek p贸藕nym wieczorem na Mokotowie z...,https://twitter.com/tvn24/status/1399622262232...
1,1911494,tvn24,Aktywista miejski Jan piewak przegra proces ...,https://twitter.com/tvn24/status/1399656749586...
2,1911494,tvn24,Sprawcy szuka policja.\n\nhttps://t.co/J5YwjOPMTy,https://twitter.com/tvn24/status/1399772787363...
3,1911494,tvn24,"""Tylko w ostatnich czterech dniach zaszczepili...",https://twitter.com/tvn24/status/1400098691860...
4,1911494,tvn24,W rod po poudniu w okolicach mostu witokr...,https://twitter.com/tvn24/status/1400105038236...
5,1911494,tvn24,"Zarzd Transportu Miejskiego zapowiada, 偶e cz...",https://twitter.com/tvn24/status/1400355214381...
6,1911494,tvn24,"""Jego spok贸j pozytywnie udziela si pozostaym...",https://twitter.com/tvn24/status/1400407341875...

In [27]:
### PODPUNKT 6
verified_users = df[df["user_verified"] == True]                                  # filtrowanie zweryfikowanych userow

verified_users[
    ["user_verified", "user_name", "text", "tweet_url"]                           # wyswietlenie top 10 uzytkownikow
].head(10).reset_index(drop = True)

,user_verified,user_name,text,tweet_url
0,True,Jadwiga Winiewska,"Dzieci to najwikszy skarb, o kt贸ry musimy dba...",https://twitter.com/j_wisniewska/status/139959...
1,True,@parents4future@climatejustice.global,@GPietruczuk @RazemDlaBielan @DominikkKuc @Bie...,https://twitter.com/parents4future/status/1399...
2,True,Gazeta Wyborcza.pl,https://t.co/3TSBVAk63h\nPuby i restauracje ju...,https://twitter.com/gazeta_wyborcza/status/140...
3,True,Dow贸dztwo GW,W Dow贸dztwie Garnizonu Warszawa #DzieDziecka ...,https://twitter.com/DGWdowodztwo/status/139959...
4,True,TVN Warszawa,r贸dmiejscy wywiadowcy zatrzymali dw贸ch podejr...,https://twitter.com/tvnwarszawa/status/1399595...
5,True,tvn24,W poniedziaek p贸藕nym wieczorem na Mokotowie z...,https://twitter.com/tvn24/status/1399622262232...
6,True,Gazeta Wyborcza.pl,Najdu偶szy tunel w Polsce poza zasigiem telef...,https://twitter.com/gazeta_wyborcza/status/139...
7,True,PE Biuro w Polsce - konto ZARCHIWIZOWANE,"Stsknilicie si za przygodami, kt贸re mo偶na p...",https://twitter.com/PE_Polska/status/139962086...
8,True,Jagiellonia わ,Udanie zaprezentowali si w miniony weekend ...,https://twitter.com/Jagiellonia1920/status/139...
9,True,TVN Warszawa,W poniedziaek p贸藕nym wieczorem na Mokotowie z...,https://twitter.com/tvnwarszawa/status/1399620...

In [41]:
###PODPUNKT 7
df["created_at_dt"] = pd.to_datetime(
    df["created_at"],                                                             # zamiana created_at na date
    errors = "coerce"
)

df["weekday_en"] = df["created_at_dt"].dt.day_name()                              # wyciagniecie dzien tygodnia

day_map_en_pl = {
    "Monday": "poniedzialek",
    "Tuesday": "wtorek",
    "Wednesday": "sroda",
    "Thursday": "czwartek",                                                       # zmiana na polskie nazwy
    "Friday": "piatek",
    "Saturday": "sobota",
    "Sunday": "niedziela",
}
df["created_at_day_pl"] = df["weekday_en"].map(day_map_en_pl)

day_conts = df["created_at_day_pl"].value_counts()
most_common_day = day_conts.idxmax()                                              # policzenie i wybranie najczestszego dnia

day_conts, most_common_day

### dzien w ktorym najczesciej tweetowano to: SRODA 1657 tweetow

/tmp/ipython-input-4203415836.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["created_at_dt"] = pd.to_datetime(

(created_at_day_pl
 sroda       1657
 wtorek      1476
 czwartek    1202
 piatek       768
 Name: count, dtype: int64,
 'sroda')